@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


    body{
         background: mediumseagreen;
         font-family:poppins;
         background-image: url('bg.jpg');
         background-repeat:no-repeat;
         background-size: cover;

       }
       .card{
         box-shadow: 0 4px 8px 0 rgba(68, 65, 65, 0.2);
         max-width: 300px;
         margin: auto;
         text-align: center;
         font-family: poppins, Helvetica, sans-serif;
       }
       .container{
         background: #ffffff;
         height: 58pc;
         width: 25pc;
         margin-bottom: 9pc;
         border-radius: 3pc;

       }
       .title{
         color: grey;
         font-size: 18px;
       }
       button{
         border: none;
         outline: 0;
         display: inline-block;
         padding: 8px;
         color: white;
         background-color: #000;
         text-align: center;
         cursor: pointer;
         width: 100%;
         font-size: 18px;
       }
       a{
         padding-right: 5px;
         text-decoration: none;
         font-size: 16px;
         font-family:poppins;
         color: black;
       }
       button:hover, a:hover{
         opacity: 0.7;
       }
       img{
           width: 100%;
           height: 16pc;
         
       }
       h2{
           color: burlywood;
       }